/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
}
p {
	font-family: 'Montserrat', sans-serif;
}
p + p {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

/* Navigation bar */

/* General */
.customNav {
	/* position: fixed; */
	width: 100%;
	background: url('../images/transparency.png');
	background-color: transparent !important;
	background-size: cover;
	z-index: 10;
}
.navbar-nav {
	margin-left: auto;
	margin-right: 0 !important;
}
.navbar-brand img {
	padding-right: 15px;
	width: 65px;
}
.nav-item {
	margin: 0px 15px;
}

/* Navigation links */
.customNav a {
	color: white !important;
}

.navbar-nav {
	margin-left: auto;
	margin-right: 0 !important;
}

/* Profile Here */

.profile-picture {
	max-width: 200px;
	position: relative;
	top: -90px;
	cursor: pointer;
}

.profile-picture:hover {
	transform: scale(1.1);
}

/* About Here */
.text-content {
	margin: 15%;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1rem;
	color: white !important;
}

/* jumbotron here  */

.jumbotron {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../images/portfolio-02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%; /* Adjust the max-width as needed */
	margin: 0 auto;
	background-color: #a7acaf;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	height: 700px;
	font-family: monospace;
}

/* Card Begin Here */

.project {
	display: flex;
	margin-top: 25px;
	justify-content: center;
}

.cardContainer {
	margin-top: 20px;
}
.card {
	margin: 0 auto;
	background-color: #efe0db;
}

.card-title {
	display: flex;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
}

.card-image-top {
	max-width: 100%;
}

/* Button here */

.btn-primary {
	background-color: rgba(63, 2, 6, 0.999);
	color: white;
	border: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 18px;
	text-align: center;
	font-weight: 650;
	font-size: 15px;
	cursor: pointer;
	margin-left: 8px;
	transition: box-shadow 0.15;
	vertical-align: auto;
}

.btn-primary:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.content-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Contact Here*/

#contact {
	display: flex;
	justify-content: center;
	font-weight: inherit;
	margin-top: 1rem;
}

/* Footer*/
.footer {
	display: flex;
	position: absolute;
	width: 100%;
	height: normal;
	padding: 2rem;
	line-height: 60px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	justify-content: center;
}

.footer-link {
	margin: 10px 20px;
	text-decoration: none;
}

/* Minimum Responsiveness */

@media (max-width: 600px) {
	/* CSS for screens below or equal to 600px wide */
	.nav {
		height: 200px;
		width: 200px;
	}
}
